<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Additional/head') %>
</head>
<body>
    <%- include('../Additional/nav') %>

    <div class="container mb-3">
        안녕하세요! 반갑습니다!
    </div>
</body>
</html>