<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Additional/head') %>
</head>
<body>
    <%- include('../Additional/nav') %>

    <div class="container mb-3">
        <div class="jumbotron">
            <h1>My first node board</h1>
            <p>Hello, Everyone!</p>
        </div>
    </div>
</body>
</html>